.card {
  background-color: rgba(9, 71, 116, 0.85) !important;
  color: #d6e3ee !important;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.card:hover {
  translate: 0 -3px;
  scale: 1.01;
}
.card h6,
.condition-text, .statistic-name {
  color: #b0a99f !important;
}
.condition-icon {
  animation: upAndDown 2s ease-in-out infinite alternate;
  -webkit-animation: upAndDown 2.5s ease-in infinite alternate;
}
@keyframes upAndDown {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -5px;
  }
  100% {
    translate: 0 0;
  }
}
